/* ====================================
  icons

 ======================================= */
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}

.flaticon-android-logo:before {
  content: "\f100";
}

.flaticon-apple-logo:before {
  content: "\f101";
}

.flaticon-earth:before {
  content: "\f102";
}

.flaticon-facebook-logo-button:before {
  content: "\f103";
}

.flaticon-favorite:before {
  content: "\f104";
}

.flaticon-google-plus-social-logotype:before {
  content: "\f105";
}

.flaticon-linkedin-button:before {
  content: "\f106";
}

.flaticon-pinterest-logo-button:before {
  content: "\f107";
}

.flaticon-settings:before {
  content: "\f108";
}

.flaticon-twitter-logo-button:before {
  content: "\f109";
}

.flaticon-windows-8:before {
  content: "\f10a";
}

.flaticon-youtube-logotype:before {
  content: "\f10b";
}

.flaticon-earth:before,
.flaticon-settings:before,
.flaticon-favorite:before {
  font-size: 40px;
  text-align: center;
  color: #fff;
}

/* ====================================
  main css code

 ======================================= */
body {
  background-color: #fff;
}

/* styles reset

======================================= */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
}

.flex-column {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.flex-item-width {
  width: 1200px;
}

/* ====================================
  feature section
 ======================================= */
.feature {
  border-top: 10px solid #d4213d;
  height: 610px;
  background: url(../img/background.jpg) 0% 0%/100% no-repeat;
  background-clip: border-box;
}

.feature-wrapper {
  padding-left: 128px;
  padding-top: 195px;
}

.feature-title {
  font-family: "Gochi Hand", cursive;
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  line-height: 20px;
  margin-top: 6px;
  margin-left: -2px;
}

.decor {
  color: #d4213d;
}

.feature-description {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 36px;
  font-weight: 500;
  margin: 57px 0 20px 1px;
}

.icon-wrapper {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.round-background {
  width: 52px;
  height: 52px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  margin-left: 16px;
}

.round-background:first-of-type {
  margin-left: 0;
}

.round-background:hover {
  background-color: #d4213d;
  cursor: pointer;
}

.icon-hover:before {
  color: #af9c93;
}

.round-background:hover .icon-hover:before {
  color: #f4f4f4;
}

/* ====================================
  features icons section 

 ======================================= */
.features {
  height: 335px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
}

.feature-item {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  width: 314px;
  height: 225px;
  margin-left: 123px;
}

.feature-item:first-of-type {
  margin-left: 0;
}

.features-icon-cirlce {
  display: -ms-flexbox;
  display: flex;
  width: 98px;
  height: 98px;
  background-color: #d4213d;
  border-radius: 50%;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.gear-position {
  margin-top: 5px;
  margin-left: 9px;
  margin-bottom: 31px;
}

.star-position {
  margin-top: 5px;
  margin-left: -5px;
  margin-bottom: 31px;
}

.planet-position {
  margin-top: 5px;
  margin-left: -18px;
  margin-bottom: 31px;
}

.title {
  color: #222222;
  text-align: center;
  margin-top: 0;
  margin-bottom: 21px;
  font: 22px / 18px 'Roboto', Arial, sans-serif;
}

.text {
  color: #848484;
  text-align: center;
  font: 16px / 26px  Arial, sans-serif;
}

i.flaticon-settings,
i.flaticon-favorite,
i.flaticon-earth {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.star-position + h3 {
  margin-left: -13px;
}

.planet-position + h3 {
  margin-left: -29px;
}

/* ====================================
  newsletter section

 ======================================= */
.newsletter {
  background-color: #e3e3e3;
}

.form {
  width: 541px;
  display: inline-block;
  margin: 60px 0 0 10PX;
}

.form-section {
  position: relative;
}

.input {
  padding: 0 21px 0 23px;
  border: 1px solid #848484;
  border-radius: 15px 0 0 15px;
  width: 305px;
  height: 56px;
  box-sizing: border-box;
  margin: 23px -2px 0 0;
  font: 400 18px/1 Roboto, Arial, sans-serif;
}

.button {
  position: absolute;
  bottom: 0px;
  height: 56px;
  width: 141px;
  background-color: #d4213d;
  border: none;
  margin-left: 1px;
  padding-right: 12px;
  box-sizing: border-box;
  border-radius: 0 15px 15px 0;
  color: #fff;
  font: 400 22px/0.8181 "Myriad Pro", Arial, sans-serif;
  padding-right: 11px;
  padding-top: 6px;
}

.title-form {
  color: #222222;
  text-align: left;
  margin: 0 0 0 1px;
  font: 22px/0.818181 'Roboto';
}

.text-form {
  color: #848484;
  text-align: left;
  margin-top: 21px;
  font: 16px/1.625 Arial;
}

.vimeo {
  width: 500px;
  height: 307px;
  margin: 60px 0  60px 138px;
  border-radius: 10px;
  overflow: hidden;
}

/* ====================================
  testimony section

 ======================================= */
.testimony {
  height: 466px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 61px;
}

.testimony-quote {
  font: italic 18px/1.6666 Arial, Helvetica, sans-serif;
  text-align: center;
  color: #848484;
  width: 884px;
  margin: 51px auto 0 auto;
}

.signature {
  color: #2e2e2e;
  font: 400 18px/1.1111111 Roboto, Arial, sans-serif;
  margin: 18px auto 22px auto;
  text-align: center;
}

.text-say-hi {
  margin: 56px auto 0 auto;
  font: 24px/1 Roboto, Arial, sans-serif;
  color: #000;
  text-align: center;
}

.get-in-touch-para {
  font: 400 16px/1.625 'Myriad Pro', Arial, sans-serif;
  color: #848484;
  margin: 18px auto 0 auto;
  text-align: center;
}

/* social icons subsection
   ========================================================================== */
.social-icons-wrapper {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 254px;
  height: 50px;
  margin: 19px auto 0 auto;
  padding: 0;
}

.social-icon-item {
  width: 34px;
  height: 34px;
}

.icon-social {
  color: #848484;
  text-decoration: none;
  display: block;
  width: 34px;
  height: 34px;
  perspective: 1000px;
  transition: .9s;
}

.icon-social:hover {
  transform: rotateY(360deg);
  color: #df596e;
}

.text-hide {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.flaticon-twitter-logo-button:before,
.flaticon-facebook-logo-button:before,
.flaticon-pinterest-logo-button:before,
.flaticon-google-plus-social-logotype:before,
.flaticon-linkedin-button:before,
.flaticon-youtube-logotype:before {
  font-size: 34px;
}

/* carousel subsection
   ========================================================================== */
.faces {
  width: 900px;
  position: relative;
  margin: 5px auto 0 auto;
}

.photos {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.faces img {
  width: 50px;
  margin: 0 auto;
  display: block;
  width: 50px;
  height: 50px;
}

.photos li {
  overflow: hidden;
  display: inline;
  text-align: center;
}

.photos li:hover {
  cursor: pointer;
}

.face-image {
  position: relative;
  overflow: hidden;
}

.face-image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  right: 0;
  display: block;
  height: 100%;
  background: #d4213d;
  opacity: 0;
  width: 50px;
}

.face-image:hover:before {
  opacity: 0.6;
}

/* ==========================================================================
    footer
   ========================================================================== */
.footer {
  height: 130px;
  background-color: #e3e3e3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.footer-nav {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  width: 550px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}

.footer-nav-item {
  margin-left: 37px;
}

.footer-nav-item:first-of-type {
  margin-left: 0;
}

.footer-nav-link {
  text-decoration: none;
  color: #848484;
  font: 400 16px/1.625 Arial;
  display: block;
  width: 100%;
  height: 100%;
}
