/* ====================================
  icons

 ======================================= */
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}

.flaticon-android-logo:before {
  content: "\f100";
}

.flaticon-apple-logo:before {
  content: "\f101";
}

.flaticon-earth:before {
  content: "\f102";
}

.flaticon-facebook-logo-button:before {
  content: "\f103";
}

.flaticon-favorite:before {
  content: "\f104";
}

.flaticon-google-plus-social-logotype:before {
  content: "\f105";
}

.flaticon-linkedin-button:before {
  content: "\f106";
}

.flaticon-pinterest-logo-button:before {
  content: "\f107";
}

.flaticon-settings:before {
  content: "\f108";
}

.flaticon-twitter-logo-button:before {
  content: "\f109";
}

.flaticon-windows-8:before {
  content: "\f10a";
}

.flaticon-youtube-logotype:before {
  content: "\f10b";
}

.flaticon-earth:before,
.flaticon-settings:before,
.flaticon-favorite:before {
  font-size: 40px;
  text-align: center;
  color: #fff;
}

/* ====================================
  main css code

 ======================================= */
body {
  background-color: #fff;
}

.container {
  
}
/* ====================================
  feature section

 ======================================= */
.feature {
  border-top: 10px solid #d4213d;
  height: 600px;
  background: url(../img/background.jpg) 0% 0%/100% fixed no-repeat;
  padding-left: 20.5625%;
}

.feature-title {
  font-family: "Gochi Hand", cursive;
  font-size: 60px;
  color: #fff;
  line-height: 20px;
  margin-top: 180px;
  margin-bottom: 65px;
}

.decor {
  color: #d4213d;
}

.feature-description {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 36px;
  font-weight: 500;
}

.icon-wrapper {
  display: -ms-flexbox;
  display: flex;
}

.round-background {
  width: 52px;
  height: 52px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  margin-left: 16px;
}

.round-background:first-of-type {
  margin-left: 0;
}

.round-background:hover {
  background-color: #d4213d;
  cursor: pointer;
}

.icon-hover:before {
  color: #af9c93;
}

.round-background:hover .icon-hover:before {
  color: #f4f4f4;
}

/* ====================================
  features icons section 

 ======================================= */
.features {
  height: 335px;
  padding-top: 60px;
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 23%);
  margin: 0 auto;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.features-icon-cirlce {
  display: -ms-flexbox;
  display: flex;
  width: 98px;
  height: 98px;
  background-color: #d4213d;
  border-radius: 50%;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.feature-item {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
}

.title {
  color: #222222;
  text-align: center;
  margin-top: 31px;
  font: 22px / 18px 'Roboto', Arial, sans-serif;
}

.text {
  color: #848484;
  text-align: center;
  margin-top: 31px;
  font: 16px / 26px  Arial, sans-serif;
}

i.flaticon-settings,
i.flaticon-favorite,
i.flaticon-earth {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* ====================================
  newsletter section

 ======================================= */
.newsletter {
  background-color: #e3e3e3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  padding: 60px 13.8125% 50px;
}

.form {
  width: 539px;
}

.input {
  padding: 15px 21px;
  border: 1px solid #848484;
  border-radius: 10px 0 0 10px;
  width: 305px;
  height: 56px;
  box-sizing: border-box;
  margin-right: -2px;
}

.button {
  height: 56px;
  width: 141px;
  background-color: #d4213d;
  border: none;
  margin-left: -3px;
  box-sizing: border-box;
  border-radius: 0 10px 10px 0;
  color: #fff;
  font: 22px/0.8181 "Myriad Pro", Arial, sans-serif;
}

.title-form {
  color: #222222;
  text-align: left;
  margin-top: 0;
  font: 22px/0.818181 'Roboto';
}

.text-form {
  color: #848484;
  text-align: left;
  margin-top: 31px;
  font: 16px/1.625 Arial;
}

.vimeo {
  width: 500px;
  height: 307px;
  margin-left: 8.6875%;
  border-radius: 10px;
  overflow: hidden;
}

/* ====================================
  testimony section

 ======================================= */
.testimony {
  height: 466px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 61px;
}

.testimony-quote {
  font: italic 18px/1.6666 Arial, Helvetica, sans-serif;
  color: #848484;
  width: 55%;
  margin-top: 60px;
  margin-bottom: 30px;
}

.signature {
  color: #2e2e2e;
  font: 18px/1.1111 Roboto, Arial, sans-serif;
  margin-top: 0;
}

.text-say-hi {
  margin-top: 60px;
  margin-bottom: 0px;
  font: 24px/1 Roboto, Arial, sans-serif;
  color: #000;
}

.get-in-touch-para {
  font: 16px/1.625 HelveticaNeue, Arial, sans-serif;
  color: #848484;
  margin-top: 29px;
}
/* social icons subsection
   ========================================================================== */

.social-icons-wrapper {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  width: 254px;
  height: 42px;
  perspective: 1000;
}
.social-icon-item:hover .flaticon-twitter-logo-button {
  transform: rotateY(360deg);
  transition: .9s;
}

.social-icon-item:hover .flaticon-facebook-logo-button {
  transform: rotateY(360deg);
  transition: .9s;
}

.social-icon-item:hover .flaticon-pinterest-logo-button {
  transform: rotateY(360deg);
  transition: .9s;
}

.social-icon-item:hover .flaticon-google-plus-social-logotype {
  transform: rotateY(360deg);
  transition: .9s;
}

.social-icon-item:hover .flaticon-linkedin-button {
  transform: rotateY(360deg);
  transition: .9s;
}

.social-icon-item:hover .flaticon-youtube-logotype {
  transform: rotateY(360deg);
  transition: .9s;
}

.icon-social {
  color: #848484;
  margin-left: 10px;
  margin-bottom: 61px;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.text-hide {
  text-indent: -9999em;
  position: absolute;
  left: -9999em;
}

.icon-social:hover {
  color: #df596e;
}

.flaticon-twitter-logo-button:before,
.flaticon-facebook-logo-button:before,
.flaticon-pinterest-logo-button:before,
.flaticon-google-plus-social-logotype:before,
.flaticon-linkedin-button:before,
.flaticon-youtube-logotype:before {
  font-size: 40px;
}

/* carousel subsection
   ========================================================================== */
.faces {
  width: 900px;
  position: relative;
}

.photos {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.faces img {
  width: 50px;
  margin: 0 auto;
  display: block;
}

.photos li {
  overflow: hidden;
  display: inline;
  text-align: center;
}

.photos li:hover {
  cursor: pointer;
}

/* ==========================================================================
    footer
   ========================================================================== */
.footer {
  height: 130px;
  background-color: #e3e3e3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.footer-nav {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  width: 541px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}

.footer-nav-link {
  text-decoration: none;
  color: #848484;
  font: 16px/1.625 Arial;
}

.face-image {
  position: relative;
  overflow: hidden;
}

.face-image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  height: 100%;
  background: #d4213d;
  opacity: 0;
}

.face-image:hover:before {
  opacity: 0.6;
}
